export subdomain=subdomain.yourdomain.com
export hosted_zone_id=Check_your_zone_ID_in_Route53
export TF_VAR_prefix=prod
export TF_VAR_kops_state=preferred-kops-state-bucket-name
export TF_VAR_domain=yourdomain.com
export TF_VAR_region=eu-west-1
export availability_zones=eu-west-1a,eu-west-1b
export kops_cluster_name=kops-node-cluster
